* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  text-align: justify;
  background-color: var(--background-color);
  color: var(--font-color);
  opacity: 0.9;
}
