/* global variables */
:root {
  --background-color: #f0f7ee;
  --font-color: #37353e;
  --border-color: #87bba2;
  --zeroP-color: #b0db9c;
  --oneHp-color: #67b2d8;
  --twenty5P-color: #f7374f;
  --fiftyp-color: #4d55cc;
  --seventyF-color: #feee91;
}

@font-face {
  font-family: "Play Write";
  src: url(/fonts-gallery/PlaywriteNZGuides-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Space Nova";
  src: url(/fonts-gallery/SpaceNova-6Rpd1.otf);
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--font-color);
}

a {
  text-decoration: none;
}

/* header section */

header {
  position: relative;
  max-width: 100%;
  max-height: 55px;
  height: 55px;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 100%;
  padding: 0 10px;
  box-shadow: 0 3px 10px rgba(103, 103, 103, 0.4);
  position: fixed;
  z-index: 99;
}

#logo {
  position: absolute;
  left: 20px;
}

#logo a {
  font-family: "Play Write", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

#nav_container {
  float: right;
  width: auto;
  height: auto;
  position: absolute;
  left: 900px;
}

#nav_container ul {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

#nav_container ul li {
  position: relative;
  padding: 0 5px;
}

#nav_container a {
  opacity: 0.7;
  text-decoration: none;
  color: var(--font-color);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  margin: 0 15px;
  position: relative;
  letter-spacing: 0.5px;
  transition: all ease-in-out 0.5s;
}

#nav_container a:hover {
  opacity: 1;
}

#nav_container ul li a::before {
  content: "";
  position: absolute;
  background-color: var(--border-color);
  bottom: -6px;
  left: 0;
  height: 2px;
  width: 0;
  border-radius: 10px;
  transition: all ease-in-out 0.25s;
}

#nav_container ul li a:hover::before {
  width: 100%;
}

/* profile overview section */
section {
  height: auto;
  width: auto;
  padding: 5px 15px;
}

.fa-computer-mouse {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  background-color: transparent;
  color: var(--background-color);
  text-shadow: 0px 0px 10px white;
  font-size: 25px;
  transition: all ease-in-out 1s linear;
  animation-name: mouse_animator;
  animation-duration: 0.9s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

@keyframes mouse_animator {
  from {
    bottom: 2px;
  }
  to {
    bottom: 10px;
  }
}

#profile__container {
  margin-top: 0.5%;
  height: 90vh;
  width: 100%;
  background: url(/image-container/galaxy-11098_1280.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  object-fit: cover;
  background-blend-mode: darken;
  align-content: center;
  justify-items: center;
}

.profile__wrapper {
  object-position: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 300px;
  position: relative;
  width: 300px;
  border: 4px solid white;
  border-radius: 100%;
  overflow: hidden;
  transition: all ease-in-out linear;
  animation-name: profileAnimator;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}
#profile__container img {
  position: absolute;
  height: 390px;
  bottom: 0.1px;
  width: auto;
  left: 3px;
  object-fit: cover;
  object-position: center;
}

@keyframes profileAnimator {
  0% {
    border-color: var(--zeroP-color);
  }
  25% {
    border-color: var(--twenty5P-color);
  }
  50% {
    border-color: var(--fiftyp-color);
  }
  75% {
    border-color: var(--seventyF-color);
  }
  100% {
    border-color: var(--oneHp-color);
  }
}

#corner {
  position: absolute;
  box-shadow: -3px 0px 7px rgba(255, 255, 255, 0.8);
  height: 75px;
  width: 320px;
  background-color: var(--background-color);
  border-radius: 5px 0px 0px 130px;
  top: 0;
  right: 0;
}

#corner_two {
  position: absolute;
  height: 75px;
  width: 320px;
  background-color: var(--background-color);
  border-radius: 0px 130px 5px 0px;
  left: 0;
  bottom: 0;
  box-shadow: 4px 0px 7px rgba(255, 255, 255, 0.8);
}

section .desc__wrapper {
  margin-top: 20px;
  backdrop-filter: blur(10px);
  width: auto;
  padding: 10px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.289);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  box-shadow: 4px 5px 10px rgba(255, 255, 255, 0.608);
}

section h1 {
  font-family: "Space Nova", "Times New Roman", Times, serif;
  font-size: 3em;
  letter-spacing: 2px;
  color: var(--font-color);
  word-spacing: 0.4px;
  margin: 1% 0;
  background: linear-gradient(120deg, #62fcb1, #c8ffe4);
  -webkit-background-clip: text; /* For Chrome, Safari */
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Standard property */
  color: transparent;
  text-transform: uppercase;
  text-shadow: 2px 6px 5px rgba(47, 46, 46, 0.4);
}

section h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2em;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-weight: 400;
  background: none;
}

section h3 {
  background: none;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.3em;
  word-spacing: 0.5px;
  letter-spacing: 1px;
}

section .socialIcons {
  background: none;
  margin: 2% 0 0 0;
}

section .socialIcons ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  background: none;
}

section .socialIcons li {
  margin: 3px 6px;
  background: none;
}

section .fa-brands {
  font-size: 25px;
  background: none;
}

section a {
  background: none;
}

section .buttons {
  height: auto;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0 0 0;
}

section .buttons input {
  margin: 1% 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  border: none;
}

section #downloadBtn {
  transition: all ease-in-out 0.3s linear;
  opacity: 0.8;
  color: var(--background-color);
  margin: 0 20px 0 0;
  border: 2px solid var(--border-color);
  background: none;
  padding: 4px 12px;
  text-align: center;
  border-radius: 4px;
}

section #downloadBtn:hover {
  opacity: 1;
}

section #hireBtn {
  text-align: center;
  opacity: 0.81;
  transition: all ease-in-out 0.3s linear;
  color: var(--background-color);
  background-color: var(--border-color);
  border: none;
  border-radius: 4px;
  padding: 4px 12px;
  border: 2px solid var(--border-color);
}

section #hireBtn:hover {
  opacity: 1;
}

/* for social icons */

section .fa-brands {
  color: #fff;
  opacity: 0.7;
  transition: all ease-in-out 2s linear;
}

section .fa-facebook-f:hover {
  color: #1877f2;
  opacity: 1;
}

section .fa-instagram:hover {
  color: #d62976;
  opacity: 1;
}

section .fa-linkedin:hover {
  color: #0a66c2;
  opacity: 1;
}

section .fa-github:hover {
  color: #181717;
  opacity: 1;
}

#about__container {
  height: 100vh;
  width: 100%;
}

/* about section */

#about__container {
  display: flex;
  margin: 3% 0;
  flex-direction: row;
  max-width: 100%;
  position: relative;
  max-height: 100vh;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  color: var(--font-color);
  align-items: start;
  justify-content: space-around;
}

#about__container .section_about {
  width: 100vh;
  position: relative;
}

#about__container h2 {
  font-family: "Space Nova", "Times New Roman", Times, serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #87bba2;
  display: inline;
  position: relative;
  text-align: left;
}

#about__container h2::before {
  content: "";
  position: absolute;
  bottom: -2px;
  border-radius: 100%;
  opacity: 0.4;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--border-color);
}

#about__container .section_about .desc__part {
  margin: 1.2% 0 0 0;
}

#about__container p {
  line-height: 30px;
  opacity: 0.8;
  letter-spacing: 0.7px;
  word-spacing: 0.2px;
  text-align: justify;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#about__container .section_bio {
  position: relative;
}

#about__container .social__wrapper .containers {
  width: 400px;
  display: flex;
  position: relative;
  margin: 10px 0 0 0;
}

#about__container .containers .descrip {
  position: absolute;
  right: 0;
  text-align: left;
}

#about__container .fa-solid {
  font-size: 13px;
  margin-right: 8px;
  color: var(--border-color);
}

#about__container .triplet__container {
  cursor: pointer;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
}

#about__container .two_horizontal {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  gap: 50px;
  flex-direction: row;
}
#about__container .container_one {
  align-content: center;
  justify-items: center;
  overflow: hidden;
  padding: 2px 8px;
  text-align: left;
  height: 120px;
  width: auto;
  border-radius: 0;
  box-sizing: border-box;
  transition: all ease-in-out 2s linear;
  position: relative;
}

#about__container .container_one:hover {
  border-radius: 8px;
  box-shadow: 0px 0px 15px var(--border-color);
}

#about__container .container_one p {
  text-align: justify;
  word-spacing: 0.5px;
  letter-spacing: 1px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

#about__container .container_one h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.4px;
  position: relative;
  margin: 1% 0;
}

#about__container .container_one h3::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 100%;
  background-color: var(--border-color);
  border-radius: 100%;
  opacity: 0.4;
}

#about__container .fa-code {
  font-size: 20px;
  position: absolute;
  top: 27%;
  background: transparent;
  left: 38%;
  transform: translateX(-62%);
}

#about__container .container_two {
  align-content: center;
  justify-items: center;
  overflow: hidden;
  padding: 2px 8px;
  text-align: left;
  height: 120px;
  width: auto;
  border-radius: 0;
  box-sizing: border-box;
  transition: all ease-in-out 2s linear;
  position: relative;
}

#about__container .container_two:hover {
  border-radius: 8px;
  box-shadow: 0px 0px 15px var(--border-color);
}

#about__container .container_two p {
  text-align: justify;
  word-spacing: 0.5px;
  letter-spacing: 1px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

#about__container .container_two h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.4px;
  position: relative;
  margin: 1% 0;
}

#about__container .container_two h3::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 100%;
  background-color: var(--border-color);
  border-radius: 100%;
  opacity: 0.4;
}

#about__container .fa-palette {
  font-size: 20px;
  position: absolute;
  top: 30%;
  background: transparent;
  left: 33%;
  transform: translateX(-67%);
}

#about__container .container_three {
  align-content: center;
  justify-items: center;
  overflow: hidden;
  padding: 2px 8px;
  text-align: left;
  height: 120px;
  width: auto;
  border-radius: 0;
  box-sizing: border-box;
  transition: all ease-in-out 2s linear;
  position: relative;
}

#about__container .container_three:hover {
  border-radius: 8px;
  box-shadow: 0px 0px 15px var(--border-color);
}

#about__container .container_three p {
  text-align: justify;
  word-spacing: 0.5px;
  letter-spacing: 1px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

#about__container .container_three h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.4px;
  position: relative;
  margin: 1% 0;
}

#about__container .container_three h3::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 100%;
  background-color: var(--border-color);
  border-radius: 100%;
  opacity: 0.4;
}

#about__container .fa-bolt {
  font-size: 20px;
  position: absolute;
  top: 30%;
  background: transparent;
  left: 33%;
  transform: translateX(-67%);
}

/* projects CSS */

#projects__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--font-color);
  height: 100vh;
  width: 100%;
}

#projects__wrapper .projects {
  width: 100%;
  position: relative;
  padding: 0px 10%;
}

#projects__wrapper h2 {
  text-align: center;
  text-transform: uppercase;
  display: inline;
  font-size: 2em;
  font-family: "Space Nova", "Times New Roman", Times, serif;
  color: var(--border-color);
  margin: 2% 0;
  position: relative;
  letter-spacing: 1px;
  word-spacing: 0.5px;
}

#projects__wrapper h2::before {
  opacity: 0.4;
  border-radius: 100%;
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width: 100%;
  background-color: var(--border-color);
  height: 3px;
}

#projects__wrapper p {
  margin: 1.5% 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  opacity: 0.7;
  letter-spacing: 1px;
  word-spacing: 0.4px;
}

#projects__wrapper .projects__display {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  width: 100%;
}

#projects__wrapper .projects__display h3 {
  font-size: 16px;
}

#projects__wrapper .display_pro {
  height: 400px;
  border: initial;
  border-radius: 6px;
  width: 350px;
  transition: all ease-in-out 1s linear;
  border: 2px solid var(--border-color);
}

#projects__wrapper .display_pro:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px var(--border-color);
  border: none;
}
